@{
    Layout = "~/Views/Shared/_Layout.SectionIndex.cshtml";
    ViewBag.Title = "Settings";
}
@section breadcrumb { }
@if (!ViewContext.Controller.ControllerContext.IsChildAction)
{
    @section sectionHead {
        <p>Listed below are the settings available for you to change.</p>
    }
}
<h3>Household bins</h3>
<ul class="list-unstyled list-contents list-contents-top-divider">
    <li class="list-group-item">@Html.ActionLink("Customers", "Index", "Customer") Add and update customers</li>
    <li class="list-group-item">@Html.ActionLink("Services", "Index", "Service") Add and update services</li>
</ul>