@{
    Layout = "~/Views/Shared/_Layout.App.cshtml";
}
@section breadcrumb
{
    <li><a href="@Url.Action("Index", "Settings")">Settings</a></li>
    @if (ViewContext.Controller.ValueProvider.GetValue("Action").RawValue.ToString() != "Index")
    { 
    <li><a href="@Url.Action("Index")">Resources</a></li>
    }
}
@section secondary {
    @RenderSection("secondary", required: false)
}
@RenderBody()