<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net46" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net46" />
  <package id="GuildfordBoroughCouncil.Linq" version="1.2.6" targetFramework="net46" />
  <package id="GuildfordBoroughCouncil.Web.Mvc.Html" version="1.3.10" targetFramework="net46" />
  <package id="GuildfordGovUK.FrontAssets" version="1.1.49" targetFramework="net46" />
  <package id="GuildfordGovUK.FrontTemplate" version="1.1.26" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net46" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net46" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.1" targetFramework="net46" />
  <package id="Microsoft.Net.Compilers" version="1.2.2" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net46" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
  <package id="Serilog" version="1.5.14" targetFramework="net46" />
  <package id="Serilog.Sinks.Seq" version="1.5.36" targetFramework="net46" />
  <package id="SerilogWeb.Classic" version="2.0.9" targetFramework="net46" />
  <package id="WebGrease" version="1.6.0" targetFramework="net46" />
</packages>