@{
    ViewBag.Title = "MoT and vehicle inspections admin";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-4 hide">
        <nav>
            <h3>Contents</h3>
            <ol class="list-group list-contents list-contents-bottom-divider">
                <li class="list-group-item"><a href="#reports">Reports</a></li>
                <li class="list-group-item"><a href="#settings">Settings</a></li>
            </ol>
        </nav>
    </div>
    <div class="col-md-8">
        @Html.Action("Index", "Settings")

        <h2>Hangfire</h2>
        <p>Hangfire is the component used to schedule long running tasks such as the daily import of payments to Waste Collector.</p>
        <ul class="list-unstyled list-contents list-contents-top-divider">
            <li class="list-group-item"><a href="~/hangfire">Dashboard</a></li>
        </ul>
    </div>
    <div class="col-md-4">
    </div>
</div>