.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]
{
    margin: 8px 0 0;
    margin-left: -18px;
}

.radio > label {
    background: #efefef;
    padding: 18px 36px;
}

.radio.checked > label {
    border: 1px solid #212121;
    padding: 17px 35px;
    background: #fff;
}

.lead .checkbox input[type=checkbox], .lead .checkbox-inline input[type=checkbox], .lead .radio input[type=radio], .lead .radio-inline input[type=radio]
{
    margin-left: -21px;
}

.lead .radio > label {
    padding: 21px 42px;
}
.lead .radio.checked > label {
    padding: 20px 41px;
}

.vehicle-history-title { 
    margin-top: 0;
}
.text-upper {
    text-transform: uppercase;
}
.vertical-align-middle {
    padding-top: 0.7em;
    font-size: larger;
}

h2 > small {
    display: block;
}





.BookingCalendar-legendBox {
    height: 55px;
    width: 55px;
    border: 1px solid #dee0e2;
}
.BookingCalendar-legendBox--available {
    background: #fff;
}
.BookingCalendar-legendBox--unavailable {
    background: #f7f7f7 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPklEQVQYV43M2QkAIAwEUVPcVr3FKREUj1zz/RhphUh2yZwiABLChXTmwhO58EUmtNAHPXTBCG2YoQkrSOEAyK0nO9YyUYwAAAAASUVORK5CYII=);
}
.BookingCalendar-header {
    position: relative;
    border: 1px solid #dee0e2;
    background: white;
}

.BookingCalendar-currentMonth {
    display: block;
    font-size: 24px;
    line-height: 1.25;
    text-transform: none;
    font-weight: 700;
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
}

button.BookingCalendar-nav--next,
button.BookingCalendar-nav--prev {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.632em;
    line-height: 1.31579;
    font-weight: bold;
    text-transform: none;
    color: #0b0c0c;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}

button.BookingCalendar-nav--prev {
    margin-left: 10px;
}

button.BookingCalendar-nav--next {
    left: auto;
    right: 0;
    margin-right: 10px;
}

.BookingCalendar-date--bookable {
    background: #fff;
}

table.booking-calendar {
    width: 100%;
    border-width: 0 1px;
    border-style: solid;
    border-color: #dee0e2;
    border-collapse: collapse;
    background: #f7f7f7 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPklEQVQYV43M2QkAIAwEUVPcVr3FKREUj1zz/RhphUh2yZwiABLChXTmwhO58EUmtNAHPXTBCG2YoQkrSOEAyK0nO9YyUYwAAAAASUVORK5CYII=);
}

    table.booking-calendar thead th {
        padding: 3px 0 0;
        font-weight: bold;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        background: #f8f8f8;
        border-bottom: 2px solid #bfc1c3;
    }

    table.booking-calendar th, table.booking-calendar td {
        width: 14.28571%;
    }

    table.booking-calendar tbody td {
        padding: 0;
        border-color: #dee0e2;
        border-style: solid;
        border-width: 0 0 1px 1px;
    }

.BookingCalendar-content {
    position: relative;
    min-height: 55px;
}

a.BookingCalendar-dateLink, a.BookingCalendar-dateLink:visited {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #0b0c0c;
    text-decoration: none;
}

    a.BookingCalendar-dateLink .BookingCalendar-day {
        padding-left: 3px;
    }

    a.BookingCalendar-dateLink:hover {
        color: #0b0c0c;
        text-decoration: underline;
        background: #d5e8f3;
    }

.BookingCalendar-tag {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    color: white;
    line-height: normal;
    text-align: center;
    background: #6f777b;
}
.BookingCalendar-tag--today {
background: #2b8cc4;
}
.BookingCalendar-tag--bankHoliday {
background: #a1887f;
}
.BookingCalendar-date--bookable.is-active {
background: #96c6e2;
}
.BookingCalendar-legend { margin-top: 1em; }
.BookingCalendar-legend > li { padding-right: 2em; }